.control-icon > div > i.allowRotate {
  float: left;
  margin-top: -21px;
  margin-left: 2px;
  color: rgba(254, 100, 1, 0.8);

  opacity: 0;
}

.control-icon > div > i.allowRotate.active {
  opacity: 100;
}
